.bet {
  width: 100%;
  height: 20%;
  border-top: 3px solid #C5C680;
  background-image: url("../../assets/backgroundForChips.jfif");
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  .chip{
    cursor: pointer; 
  }
}