.table-and-bet {
  width: 100%;
  height: 100%;

  .table {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/blackjack.png');
    background-size: cover;

    .money {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cards {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .card {
          justify-self: center;

          img {


            height: 100px;
            width: 100px;
          }
        }
      }

      .current-money {
        color: #C5C680;
        font-size: xx-large;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .game-end{
          justify-self: center;
        }
        .button {
          background-color: #C5C680;
          color: #076A32;
          justify-self: flex-end;
        }
      }

      .bet-money {
        width: 100%;
        color: #C5C680;
        font-size: xx-large;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }

    .buttons {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      .button {
        background-color: #C5C680;
        color: #076A32;
        justify-self: flex-end;
      }

      .cards {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .card {
          justify-self: center;


          img {


            height: 100px;
            width: 100px;

          }
        }
      }
    }

  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('../../assets/backgroundForChips.jfif');

    .button {
      background-color: #C5C680;
      color: rgb(56, 12, 12);
    }
  }

  .points{
    color:#C5C680;
    font-size: xx-large;
  }
  .dealer-points{
    color:black;
    font-size: xx-large;
  }
}
